.header {
    position: sticky;
    top: 0;
    z-index: 3;
}

.heading {
    background-color: #f0f0f0;
    padding: 2% 3%;
    text-align: center;
}

.title {
    font-size: 3.5vw;
    font-weight: 600;
    color: #004c4c;
    line-height: 1.4;
}

.subtitle {
    font-size: 1.2vw;
    color: #4a4e57;
    margin-top: 0.5em;
}

.content {
    padding: 2% 5%;
}

.box {
    background-color: #e2e2e2;
    padding: 3% 5%;
    margin-bottom: 5%;
}

.p {
    font-size: 1.6vw;
    color: #383838;
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 1em;
}

.sectionTitle {
    font-size: 3vw;
    font-weight: 600;
}

.greenText {
    color: #1abd1a;
}

.content2 {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 2em;
    gap: 1%;
}


.image {
    width: 30%;
    max-width: 100%;
    margin-bottom: 1em;
    border-radius: 5px;
}


@media screen and (max-width: 768px) {
    .title {
        font-size: 6vw;
    }

    .subtitle {
        font-size: 3vw;
    }

    .p {
        font-size: 4vw;
    }

    .sectionTitle {
        font-size: 5vw;
    }

    .content2 {
        flex-direction: column;
    }

    .image {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .title {
        font-size: 8vw;
    }

    .subtitle {
        font-size: 4vw;
    }

    .p {
        font-size: 5vw;
    }

    .sectionTitle {
        font-size: 6vw;
    }
}



.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(50% - 40px);
    max-width: calc(50% - 40px);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card img {
    width: 15%;
    display: flex;
    justify-content: center;
    height: auto;
    border-radius: 10px;
}

.card h1 {
    font-size: 1.5rem;
    color: #333;
    margin-top: 15px;
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
}



@media (max-width: 768px) {
    .content2 {
        flex-direction: column;
    }

    .image {
        width: 100%;
    }

    .card {
        flex: 1 1 100%;
        max-width: 100%;
    }
}


.key{
    text-align: center;
    font-size: 1.3vw;
    margin-top: 1em;
}